{% extends 'cinemaPlus/bootBase.html' %}

{% block content %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h2>About Us</h2>
                <h3>Welcome to our website!</h3>
                <p>We're a dedicated team of passionate individuals committed to bringing you valuable content and services through this platform.</p>
                <p>Allow us to introduce ourselves:

We are a collective of students undergoing our Master's degree in Applied Informatics at the International Hellenic University, united by our shared mission to present to you a website that provides information about successful and upcoming movies, renowned actors and actresses as well as keeping you up to date with the latest news and developments in the fields of cinematography. Together, we strive to provide you with the best possible experience providing the fact that every single one of us is an avid cinema lover.
                    Our team works tirelessly to ensure that every aspect of this website reflects our commitment to excellence. From conceptualization to execution, we collaborate closely to bring our ideas to life, with visual and text information giving you a detailed presentation of each title that is about to release. Additionally, we are planning to expand the content of our website by including valid and objective reviews publicized by professional critics about any kind of movie or TV series, in the upcoming weeks, setting aside our passion in contributing personally by adding our own perspective to the cause.</p>

<p>We believe in the power of teamwork and the strength that comes from diverse perspectives. Each member of our team brings unique skills, expertise, and creativity to the table, enriching our collective efforts.

Thank you for joining us on this journey. Together, we'll continue to innovate, inspire, and make a positive impact in the cinema community.

If you have any questions, suggestions, or just want to say hello, feel free to contact us via our email!</p>
            </div>
        </div>
    </div>
{% endblock %}