{% extends 'cinemaPlus/bootBase.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="movie-details">
            <h1>{{ movie.title }}</h1>
            {% if movie.image %}
                <img class="movie-poster" src="{{ movie.image.url }}" alt="{{ movie.title }}">
            {% endif %}
            <p class="movie-summary">{{ movie.summary|linebreaks }}</p>
            {% if movie.genre %}
                <p class="movie-genre"><a href="{% url 'home' %}?cat={{ movie.genre.pk }}">{{ movie.genre }}</a></p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="user-reviews">
            <h2>User Reviews:</h2>
            <ul class="review-list">
                {% for review in reviews %}
                    <li class="review-item">
                        <div class="review-header">
                            <strong class="review-author">{{ review.author }}</strong>
                            <span class="review-rating">Rating: {{ review.rating }}</span>
                        </div>
                        <p class="review-comment">{{ review.comment }}</p>
                    </li>
                {% empty %}
                    <li>No reviews available yet.</li>
                {% endfor %}
            </ul>

            <h2>Add Your Review:</h2>
            <form class="review-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <input class="form-control" type="number" id="rating" name="rating" min="1" max="10">
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" id="comment" name="comment"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Submit Review</button>
            </form>
            <div class="average-rating">
                <h2>Average Rating: {{ average_rating }}</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
